.custom_overlays{
    position: absolute;
    top: 5px;
    left: 5px;
    bottom: 5px;
    right: 5px;
    overflow: auto;
}
.custom_overlays .item_group{
    position: relative;
    /* float: left; */
    /* width: 300px; */
    padding: 4px;
    margin: 3px;
    margin-top: 10px;
    border: 1px solid #d2d6d5;
    background: #F4F4F4;
    margin-bottom: 5px;
}
.custom_overlays .item_group .title{
    position: relative;
    /* top: -21px; */
    /* left: 10px; */
    font-size: 120%;
    font-weight: bold;
    color: white;
    background: #00264B;
    padding: 5px;
}
.custom_overlays .item_layer{
    margin-top: 3px;
}

.custom_overlays .item_layer .label{
    position:relative;top:-3px;
    font-size: 120%;
}
