
@import url('template.css');

.custom_years{
	position: absolute;top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	overflow-x: hidden;
}

.custom_years .button_add_year{
	position:relative;border-bottom:2px solid #555555;height:40px;background: #E1E3E4;cursor: pointer;
}
.custom_years .button_add_year .label{
	font-size:130%;position:absolute;left:30px;top:12px;
}

.custom_years .button_add_year .icon{
	position:absolute;left:5px;top:12px;
}

.custom_years .divisor{
	position: absolute;
	left:0px;
	right: 0px;
	height: 30px;
}

.custom_years .item_year{
	position:relative;border-bottom:2px solid #555555;height:45px;cursor: pointer;
}

.custom_years  .item_year .year_color{
	position:absolute;left:5px;width:10px;top:5px;bottom:5px;
}

.custom_years .item_year .year_alias{
	font-size:130%;position:absolute;left:30px;top: 11px;
}

.custom_years .item_year .year_progress{
	position:absolute;left:20px;height:3px;right:5px;bottom:5px;
}
.custom_years  .item_year .user_color{
	position:absolute;left:5px;width:10px;top:5px;bottom:5px;
}

.custom_years .item_year .user_alias{
	font-size:130%;position:absolute;left:30px;top:7px;
}
.custom_years .item_year .user_role{
	font-size:100%;position:absolute;left:30px;top:22px;
}

.custom_years .item_year .user_charge{
	position:absolute;right:5px;border:1px solid black;top:7px;-webkit-border-radius: 20px 20px 20px 20px;border-radius: 20px 20px 20px 20px;padding:3px;font-size:120%;
}

.custom_years .item_year .user_progress{
	position:absolute;left:20px;height:3px;right:5px;bottom:5px;
}

.custom_years .item_year .year_tools{
	position: absolute;
	right: 10px;
	top: 8px;
}

.custom_years .item_year .year_tools .user_info{
	float: right;
	margin-right: 8px;
}.custom_years .item_year .year_tools .user_edit{
	float: right;
	margin-right: 8px;
}.custom_years .item_year .year_tools .user_delete{
	float: right;
	top: 2px;
	position: relative;
}

.custom_years .item_year .year_tools .year_upload{
	float: right;
	margin-right: 8px;
}
.custom_years .item_year .year_tools .year_download{
	float: right;
	margin-right: 8px;
}
.custom_years .item_year .year_tools .user_charge_icon{
	float: right;
	top: 2px;
	position: relative;
	margin-right: 8px;
}
.custom_years .item_year .year_tools .year_deleteCharge{
	float: right;
	top: 0px;
	position: relative;
}

.custom_years .item_year_selected{
	position:relative;border-bottom:2px solid #555555;height:45px;width:300px;left:0px;background:#00264B;
}

.custom_years .item_year_selected .user_color{
	position:absolute;left:5px;width:10px;top:5px;bottom:5px;
}

.custom_years .item_year_selected .user_alias{
	font-size:140%;position:absolute;left:30px;top:7px;color:white;
}
.custom_years .item_year_selected .user_role{
	font-size:110%;position:absolute;left:30px;top:26px;color:white;
}
.custom_years .item_year_selected .user_charge{
	color:white; position:absolute;right:5px;border:2px solid white;top:7px;-webkit-border-radius: 20px 20px 20px 20px;border-radius: 20px 20px 20px 20px;padding:3px;font-size:121%;
}
.custom_years .item_year_selected .user_progress{
	position:absolute;left:20px;height:3px;right:5px;bottom:5px;
}


.custom_years .blocker{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
.custom_years .blocker .veil{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: #FFF;
    -moz-opacity:0.50;
    opacity:0.50;
    filter:alpha(opacity=50);
    z-index: 50000;
}
.custom_years .blocker .loader{
   position: relative;
   width: 100px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   z-index: 50001;
   margin-top: 50%;
}
.custom_years .blocker .loader .label{
   margin-top: 10px;
   font-size: 200%;
   color:  #00264B;
   font-family: SoberanaSans_bold;
}