@import url('template.css');
.custom_textArea {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	overflow: auto;
	z-index: 5000;
}

.custom_textArea .mainContainer{
	position: absolute;
	top: 65px;
	left: 0px;
	right: 0px;
	bottom: 65px;
}
.custom_textArea .veil{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: #212121;
	opacity: 0.5;
	filter: alpha(opacity=50);
}
.custom_textArea .w100 {
  width: 100%;
}
.custom_textArea .column {
  position: relative;
  float: left;
  height: 200px;
}

.custom_textArea .column .container {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background: #fff;
  -webkit-box-shadow: 1px 1px 1px 1px #787878;
  box-shadow: 1px 1px 1px 1px #787878;
}

.custom_textArea .column .container .data {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}



.custom_textArea .Header {
	position: relative;
	top: 0px;
	width: 100%;
	height: 60px;
	background: #F2F1EE;
	z-index: 1;
	-webkit-box-shadow: -1px 3px 10px -1px rgba(0,0,0,0.61);
-moz-box-shadow: -1px 3px 10px -1px rgba(0,0,0,0.61);
box-shadow: -1px 3px 10px -1px rgba(0,0,0,0.61);
}
.custom_textArea .Header.new .label{
	left:20px !important;
}
.custom_textArea .Header.new .icon{
	display: none;
}
.custom_textArea .Header .label{
	  position: absolute;
	top: 21px;
	left: 60px;
	color: #636770;
	font-size: 130%;

}
.custom_textArea .Header .icon{
	  position: absolute;
	top: 17px;
	left: 12px;
}
.custom_textArea .titles{
	position: relative;
	top:0px;
	width:100%;
	height: 35px;
	background: #F2F2F2;
}

.custom_textArea .newRecord .label{
	position: absolute;
	top:0px;
	left: 10px;
}
.custom_textArea .iconAdd{
	  position: absolute;
  top: 37px;
  right: 10px;
  z-index: 1;
}
.custom_textArea .formRecords{
	position: absolute;
	width:100%;
	top:0px;
	bottom: 0px;
	background: #fff;
	z-index: 2;
}
.custom_textArea .iconClose{
	  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 2;
}
.custom_textArea .formRecords .fields{
	position: absolute;
	top:60px;
	width:100%;
	bottom: 0px;
	z-index: 0;
}
.custom_textArea .dataComments{
	position: absolute;
	top:60px;
	bottom: 0px;
	width: 100%;
	overflow: auto;
	background: #F2F2F2;
}
.custom_textArea .dataComments.new .containerTextArea{
	bottom: 55px !important;
}
.custom_textArea .dataComments .buttonsDescription{
    position: absolute;
    bottom: 18px;
    text-align: center;
    left: 0px;
    right: 0px;
}
.custom_textArea .dataComments .buttonsDescription .button{
    background-color: #636770;
    margin-right: 5px;
    border-radius: 5px;
    margin-top: 2px;
    padding: 5px;
    /* -webkit-transform-origin: 50% 50%; */
    -ms-transform-origin: 50% 50%;
    /* transform-origin: 50% 50%; */
    width: 100px;
    color: white;
    font-size: 120%;
}
.custom_textArea .dataComments .cancelDescription{
	margin-right: 10px;
}
.custom_textArea .dataComments .sendDescription{
	margin-left: 10px;
}
.custom_textArea .containerTextArea{
	position: absolute;
	top: 10px;
	left: 10px;
	right: 30px;
	bottom: 10px;
}
.custom_textArea #infoTextArea{
	position: absolute;
	top: 0px;
	bottom: 0px;
	width: 100%;
	height: auto;
	background: #fff;
	color: #7A7D7F;
	font-size: 180%;
	padding: 10px;
	

}