.template_tools{ background:url("img/tools.png") top left no-repeat; }
.tt_measureArea_selected{ width: 35px;height: 35px;background-position: -61px -257px; }
.tt_measureArea{ width: 35px;height: 35px;background-position: -26px -257px; }
.tt_measureDistance_selected{ width: 35px;height: 35px;background-position: -60px -187px; }
.tt_measureDistance{ width: 35px;height: 35px;background-position: -25px -187px; }
.tt_print_selected{ width:35px; height:35px; background-position:-60px -152px; }
.tt_print{ width:35px; height:35px; background-position:-25px -152px; }
.tt_extent_selected{ width: 35px;height: 35px; background-position: -61px -117px; }
.tt_extent{ width: 35px;height: 35px;background-position: -26px -117px; }
.tt_zoomIn_selected{ width: 35px;height: 35px;background-position: -60px -83px; }
.tt_zoomIn{ width: 35px;height: 35px;background-position: -25px -83px; }
.tt_zoomOut_selected{ width: 35px;height: 35px;background-position: -61px -13px;}
.tt_zoomOut{ width: 35px;height: 35px;background-position: -26px -13px; }
.tt_search_selected{ width:40px; height:40px; background-position:-61px -48px; }
.tt_search{ width:35px; height:35px; background-position:-26px -48px; }
.tt_identify_selected{ width:35px; height:35px; background-position:-61px -222px;}
.tt_identify{ width:35px; height:35px; background-position:-26px -222px; }
.tt_pan{width:35px; height:35px; background-position:-27px -294px}

.tt_measureArea:hover{background-position: -61px -257px !important; }
.tt_measureDistance:hover{ background-position: -60px -187px !important; }
.tt_print:hover{ background-position:-60px -152px !important; }
.tt_extent:hover{ background-position: -61px -117px !important; }
.tt_zoomIn:hover{ background-position: -60px -83px !important; }
.tt_zoomOut:hover{background-position: -61px -13px !important; }
.tt_search:hover{ background-position: -61px -48px !important; }
.tt_identify:hover{ background-position:-61px -222px !important; }
.tt_pan:hover{width:35px; height:35px; background-position:-62px -294px !important;}
