@import url('template.css');
.custom_information {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 3000;
    background:#F9F6EE;
}

.custom_information .header_information{
    position: absolute;
    border-bottom: 2px solid #555555;
    height: 47px;
    width: 300px;
    left: 0px;
    background: #00264B;
    color:#fff;
}

.custom_information .header_information .label{
    font-size: 130%;
    position: absolute;
    left: 30px;
    top: 13px;
}


.custom_information .header_information .back_info{
    position:absolute;left:2px;top:10px;
}








.custom_information .blocker{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
.custom_information .blocker .veil{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: #FFF;
    -moz-opacity:0.50;
    opacity:0.50;
    filter:alpha(opacity=50);
    z-index: 50000;
}
.custom_information .blocker .loader{
   position: relative;
   width: 100px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   z-index: 50001;
   margin-top: 50%;
}
.custom_information .blocker .loader .label{
   margin-top: 10px;
   font-size: 200%;
   color:  #00264B;
   font-family: SoberanaSans_bold;
}










.custom_information .textInput{
    position: rela;
    outline: 0;
    padding: 12px;
    width: 269px;
    border: 2px solid #00264B;
    border-radius: 2px;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* width: 100%; */
    /* margin-top: 30px; */
    /* display: block; */
    color: #222;
    /* left: 0px; */
    /* right: 0px; */
}


.custom_information .icon_search{
	position: absolute;
	top: 2px;
	right: 17px;
	background: #eee;
	width: 41px;
	height: 39px;
	cursor: pointer;
}

.custom_information .boxToSearch{
	position: absolute;
	left: -14px;
	right: -14px;
	top: 50px;
}


.custom_information .boxToSearch .icon{
	position:absolute;
	top: 8px;
	left: 8px;
}

.custom_information .identify_results{
	position: absolute;
	top: 50px;
	left: 2px;
	right: 2px;
	bottom: 2px;
	overflow: auto;
}

.custom_information .search_results{
	position: absolute;
	top: 94px;
	left: 2px;
	right: 2px;
	bottom: 2px;
	overflow: auto;
}

.custom_information .spinner_search {
	position:absolute;top:230px;left:0px;right:0px;
}

.search_table_results .rowFilled{
	background: #eee;
}
.search_table_results .borderHeading{
	border-top: 1px solid #222;
	border-bottom: 1px solid #222;
}
.search_table_results .borderRow{
	border-left: 1px solid #bbb;
}
.search_table_results
    {
        display: table;
	width:80%;
    }
    
    .search_table_results .Heading
    {
        display: table-row;
	font-weight: bold;
	text-align: center;
	font-size: 130%;
	background: #00264B;
	color: white;
    }
    
    .search_table_results .Row
    {
        display: table-row;
	font-size: 120%;
    }
    .search_table_results .Cell
    {
        display: table-cell;
        border-width: thin;
        padding-left: 5px;
        padding-right: 5px;
    }
    
    
.search_table_results .textButton{
    background-color: #00264B;
    border-radius: 5px;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

.custom_information .search_msgError{
	position: absolute;
	top: 100px;
	/* background: #D93A32; */
	/* padding: 10px; */
	left: 30%;
	-webkit-border-radius: 12px 12px 12px 12px;
	border-radius: 12px 12px 12px 12px;
	/* border: 1px solid #222; */
	/* width: 30%; */
	right: 30%;
	text-align: center;
	/* color: black; */
	color: #55555 !important;
}
.custom_information  .search_msgError .label{
	color:white;
	font-size: 150%;
}

.custom_information .btn_back{
	position: absolute;
top: 65px;
left: 20px;
z-index: 2000;
}
.template_custom_information_back{
	display:block;background-image:url(img/left.png);overflow:hidden;width:32px; height:32px; background-repeat:no-repeat;
	

}

.table_information{
        display: table;
	width:100%;
        margin-top: 3px;
}
.table_information .rowFilled{
	background: #F4F4F4;
}
.table_information .row_selected{
	background: #F4F4F4;
}
.table_information .borderHeading{
	border-top: 1px solid #222;
	border-bottom: 1px solid #222;
}
.table_information .borderRow{
	border-left: 1px solid #bbb;
}

    
.table_information .Heading{
        display: table-row;
	font-weight: bold;
	text-align: center;
	font-size: 130%;
	background: #00264B;
	color: white;
}
    
.table_information .Row{
        display: table-row;
	font-size: 120%;
}

.table_information .Row:hover{
    background: #E1E3E4 !important;
}
.table_information .Cell{
        display: table-cell;
        border-width: thin;
        padding: 5px;
}


.table_information .text_center{
    text-align: center;
}
    
.table_information .textButton{
    background-color: #00264B;
    border-radius: 5px;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

.table_information .optionInfo{
    position: relative;
    top: 2px;
    float: right;
    right: 0px;
    display: inline;
}

.table_information .icon_status{
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
}
.table_information .label_predio{
    position:relative;top:-3px;display:inline-block;
}