.template_assignUsers{ background:url("img/assignUsers.png") top left no-repeat; }
.tas_user_big_info{ width: 70px;height: 90px;background-position: -125px -36px;}
.tas_user_big{ width: 70px;height: 90px;background-position: -29px -36px;}

.tas_user_info{width: 40px;height: 47px;background-position: -77px -133px;}
.tas_user{width: 40px;height: 47px;background-position: -23px -133px;}


