
.background_form{
    background:#F9F6EE;
    position: absolute;
    top: 0px;
    left:0px;
    right:0px;
    bottom: 0px;
    overflow: auto;
    z-index: 5000;
}
.customForm_header{
    background: #222;
    width:100%;
    height:50px;
}

.customForm_header .back_users{
    color:white;font-size:200%;position:absolute;left:10px;top:10px;
    z-index:2;
    cursor: pointer;
}

.customForm_header .title_header{
    position: absolute;
    left:0px;
    right:0px;
    top:10px;
    z-index:1;
    
    color:white;font-size:200%;
    text-align: center;
}

.background_form .Field{
    position: relative;
    border: 1px solid #F9F6EE;
    padding-left: 10%;
}
.background_form .ButtonSection{
     position: relative;
    border: 1px solid #F9F6EE;
}
.background_form .Field .label{
    color: #222;
    float: left;
    position: relative;
    top: 15px;
    font-size: 150%;
}

.background_form .Field .textInput{
    outline: 0;
    padding: 12px;
    width: 100%;
    border: 2px solid #00264B;
    border-radius: 2px;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width:80%;
    margin-top: 35px;
    display: block;
    color:#222;
}

.background_form .Field .selectInput{
    outline: 0;
    padding: 12px;
    width: 100%;
    border: 2px solid #00264B;
    border-radius: 2px;
    background-color: transparent;
    background-image: none;
    width:83%;
    margin-top: 35px;
    display: block;
    color:#222;
}
.background_form .Field .textAreaInput{
    outline: 0;
    padding: 12px;
    width: 100%;
    border: 2px solid #00264B;
    border-radius: 2px;
    background-color: transparent;
    background-image: none;
    width:80%;
    margin-top: 35px;
    display: block;
    color:#222;
}
.background_form .Field .badInput{
  background-color: #FF6961 !important;
}

.background_form .ButtonSection .textButton{
    background-color: #00264B;
    border-radius: 5px;
    padding: 15px;
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    width: 20%;
    color: white;
    font-size: 300%;
}

.form_message{
    position:absolute;
    top:30%;
    left: 30%;
    right: 30%;
    bottom: 30%;
    z-index: 5001;
    border: 1px solid #222;
}
.form_message .header{
    position: absolute;
    height: 30px;
    width:100%;
    
}
.form_message .type_info{
    background: #00264B;
    color:#FFF;
    
}
.form_message .type_error{
    background: #C5002E;
    color:#FFF;
    
}
.form_message .header .close{
    position: absolute;
    top: 2px;
    right: 3px;
    
}
.form_message .header  .label{
    font-size: 200%;
    margin-left: 12px;
    margin-top: 2px;
}
.form_message .container{
   position: absolute;
top: 30px;
width: 100%;
bottom: 0px;
background: #FFF;
overflow-y: auto;
overflow-x: hidden;
font-size: 120%;
}
.form_message_veil{
    position:absolute;
    top:0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    -moz-opacity:0.80;
    opacity:0.80;
    filter:alpha(opacity=80);
    background: #eee;
    z-index: 5000;
}
.form_message .item_error{
    position: relative;
    left:10px;
    right: 10px;
    margin-top:15px;
}
.template_custom_form_close{
	display:block;background-image:url(../img/close.png);overflow:hidden;width:24px; height:24px; background-repeat:no-repeat;
}
#ui-datepicker-div{
    font-size: 130%;
}