
.item_user:hover{
    background: #eee !important;
}


.Tooltip{
    box-shadow: 0px 0px 6px 0 #555555;
}
.Tooltip.top:before {
            border-width: 0 16px 16px;
            bottom: auto;
            left: auto;
            right: 2px;
            top: -16px;
}
        
        .Tooltip:before {
            border-color: #DDDDDD transparent;/*5A8F00*/
            border-style: solid;
            border-width: 20px 20px 0; /*20px 20px 0;*/
            bottom: -20px;
            content: "";
            display: block;
            left: 40px;
            position: absolute;
            width: 0;
        }
        
        .Tooltip.top:after {
            border-width: 0 13px 13px;
            bottom: auto;
            left: auto;
            right: 5px;
            top: -13px;
        }
        
        .Tooltip:after {
            border-color: #FFFFFF transparent;
            border-style: solid;
            border-width: 13px 13px 0;
            bottom: -13px;
            content: "";
            display: block;
            left: 47px;
            position: absolute;
            width: 0;
        }
        .Tooltip {
            background: none repeat scroll 0 0 #FFFFFF;
            border: 2px solid #DDDDDD;
            border-radius: 5px 5px 5px 5px;
            color: #333333;
            margin: 1em 0 3em;
            padding: 15px;
            position: relative;
        }
        
        .Tooltip.left {
            margin-left: 30px;
        }
        .Tooltip.left:before {
            border-color: transparent #DDDDDD;
            border-width: 15px 30px 15px 0;
            bottom: auto;
            left: -30px;
            top: 10px;
        }
        
        .Tooltip.left:after {
            border-color: transparent #FFFFFF;
            border-width: 9px 21px 9px 0;
            bottom: auto;
            left: -21px;
            top: 16px;
        }
        
        
        .Tooltip.right {
            margin-right: 30px;
        }
        .Tooltip.right:before {
            border-color: transparent #DDDDDD;
            border-width: 15px 0 15px 30px;
            bottom: auto;
            left: auto;
            right: -30px;
            top: 10px;
        }
.Tooltip.right:after {
            border-color: transparent #FFFFFF;
            border-width: 9px 0 9px 21px;
            bottom: auto;
            left: auto;
            right: -21px;
            top: 16px;
}


.template_menu_options_users {
    display:block;background-image:url(../img/admin_users.png);overflow:hidden;
    background-position:0px 0px; width:32px; height:32px;position:relative;top:-3px;
}

.template_menu_options_layers {
    display:block;background-image:url(../img/layers.png);overflow:hidden;
    background-position:0px 0px; width:32px; height:29px;position:relative;top:-3px;
}