.template_structue{ background:url("../img/structure/structure.png") top left no-repeat; }

.tst_layers{ width:25px; height:25px; background-position:-92px -9px; } 
.tst_layers:hover{ width:25px; height:25px; background-position:-118px -9px; }
.tst_admon_users{ width:25px; height:25px; background-position:-146px -9px; }
.tst_admon_users:hover{ width:25px; height:25px; background-position:-174px -9px; }
.tst_user{ width:25px; height:25px; background-position:-200px -8px; }
.tst_alert{ width:25px; height:25px; background-position:-6px -9px; }
.tst_alert_active{ width:25px; height:25px; background-position:-36px -9px; }
.tst_report{ width:25px; height:25px; background-position:-247px -8px; }
.tst_report:hover{ width:25px; height:25px; background-position:-223px -8px; }
.tst_national{ width:33px; height:25px; background-position:-271px -8px; }
.tst_national:hover{ width:33px; height:25px; background-position:-304px -8px; }
.tst_list_predios{   width: 25px;height: 25px;background-position: -386px -8px; }
.tst_list_predios:hover{ width: 25px;  height: 25px;  background-position: -411px -8px; }
.tst_print{width: 25px;height: 25px;background-position: -336px -8px;}
.tst_print:hover{width: 25px;height: 25px;background-position: -361px -8px;}
.tst_exercises{width: 24px;height: 25px;background-position:-456px -9px;}
.tst_exercises:hover{width: 24px;height: 25px;background-position: -434px -9px;}
.tst_list_validated{   width: 24px;height: 25px;background-position: -501px -8px; }
.tst_list_validated:hover{ width: 24px;  height: 25px; background-position: -479px -8px; }