.template_userbranch{ background:url("img/userbranch.png") top left no-repeat; }
.tub_back{ width:27px; height:27px; background-position:-10px -10px; }
.tub_edit{ width:23px; height:23px; background-position:-29px -10px; }
.tub_info{ width:22px; height:22px; background-position:-51px -11px; }
.tub_delete{ width:20px; height:20px; background-position:-92px -11px; }
.tub_plus{ width:20px; height:20px; background-position:-72px -12px; }
.smallArrow{ width:16px; height:16px; background-position:-10px -172px; }
.tub_upload{width:20px; height:20px; background-position:-131px -11px;}
.tub_download{width:20px; height:20px; background-position:-152px -11px;}
.tub_downloadPolygons{    width: 20px;
    height: 22px;
    background-position: -282px -8px}
.tub_charge{width:20px; height:20px; background-position:-173px -11px;}
.tub_charge_active{width:20px; height:20px; background-position:-196px -11px;}
.tub_finished{width:20px; height:20px; background-position:-218px -10px;}
.tub_finished_active{width:20px; height:20px; background-position:-240px -10px;}

