.custom_progress{
    position: absolute;
    top:0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 0;
    background: #E1E3E4;
}

.custom_progress .column{
    position: relative;
    float: left;
    height: 200px;		
}
.custom_progress .column .container .title{
    position: absolute;
    float: left;
    color: #787878;
    top: 0px;
    left: 0px;
    font-size: 120%;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 2px;
    z-index: 1;
}
.custom_progress .column .container .tools{
   position: absolute;
    color: #787878;
   bottom: 0px;
    z-index: 5;
    left: 5px;
    right: 5px;
    height: 35px;
    border-top:0px solid #ccc;
}
.custom_progress .column .container2 .title{
    position: absolute;
    float: left;
    color: #fff;
    top: 0px;
    left: 0px;
    font-size: 120%;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 2px;
    z-index: 1;
}
.custom_progress .column .container .itemTool{
    position: absolute;
    right: 0px;
    margin-right: 10px;
    top: 3px;
}
.custom_progress .column .container{
    position: absolute;
    top:7px;
    left: 10px;
    right: 10px;
    bottom: 7px;
    background: #fff;
    -webkit-box-shadow: 1px 1px 1px 1px #787878;
    box-shadow: 1px 1px 1px 1px #787878;
	overflow: auto;
}

.custom_progress .column .container2{
    position: absolute;
    top:7px;
    left: 10px;
    right: 10px;
    bottom: 7px;
    background: #fff;
    -webkit-box-shadow: 1px 1px 1px 1px #787878;
    box-shadow: 1px 1px 1px 1px #787878;
}

.custom_progress .column .container .data{
    position: absolute;
    top:5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
}
.custom_progress .column .container .data_min{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 35px;
}
.custom_progress .column .container2 .data{
    position: absolute;
    top:0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
			
.custom_progress .w100{
    width:100%;
}
.custom_progress .w50{
    width:50%;
}
.custom_progress  .w30{
    width:30%;
}
.custom_progress  .w70{
    width:70%;
}
.custom_progress  .w80{
    width:80%;
}
.custom_progress  .w20{
    width:20%;
}

.custom_progress #cp_na{
    background:#C5002E;
    width:100%;
    height: 100%;
}
.custom_progress #cp_na div{
    font-size:200%;
    color:#fff;
    width:100%;
    text-align: center;
    font-weight: bold;
    position: absolute;
    top: 30%;
}
/*

    position: absolute;
    top: 30%;
    font-size: 200%;
    text-align: center;
    width: 100%;

*/
.custom_progress #cp_v{
    background:#006BA7;
    width:100%;
    height: 100%;
}
.custom_progress #cp_v div{
    
    font-size:200%;
    color:#fff;
    width:100%;
    text-align: center;
    font-weight: bold;
    position: absolute;
    top: 30%;
}
.custom_progress #cp_a{
    background:#FFB620;
    width:100%;
    height: 100%;
}
.custom_progress #cp_a div{
    font-size:200%;
    color:#fff;
    width:100%;
    text-align: center;
    font-weight: bold;
    position: absolute;
    top: 30%;
    
}
.custom_progress #cp_d{
    background:#738678;
    width:100%;
    height: 100%;
}
.custom_progress #cp_d div{
    
    font-size:200%;
    color:#fff;
    width:100%;
    text-align: center;
    font-weight: bold;
    position: absolute;
    top: 30%;
}
.custom_progress #cp_total{
    color: #006BA7;
    /*width: 100%;
    height: 100%;*/
	overflow: hidden;
}
.custom_progress #cp_total div{
  font-size: 200%;
  width: 100%;
  text-align: center;
  font-weight: bold;
  position: absolute;
    top: 30%;

}
.custom_progress #cp_progress{
    color: #319177;
    /*width: 100%;
    height: 100%;*/
}

.custom_progress #cp_progress div{
      /* background: #738678; */
    font-size: 200%;
    width: 100%;
    text-align: center;
    font-weight: bold;
    position: absolute;
    top: 10%;
}


.progress_table_results .rowFilled{
	background: #eee;
}
 .progress_table_results .borderHeading{
	border-top: 1px solid #222;
	border-bottom: 1px solid #222;
}
 .progress_table_results .borderRow{
	border-left: 1px solid #bbb;
}
 .progress_table_results
    {
        display: table;
	width:100%;
    }
    
 .progress_table_results .Heading
    {
        display: table-row;
	font-weight: bold;
	text-align: center;
	font-size: 130%;
	background: #007B42;
	color: white;
    }
    
 .progress_table_results .Row
    {
        display: table-row;
	font-size: 120%;
    }
.progress_table_results .RowList
    {
        display: table-row;
	font-size: 120%;
    }
    .custom_progress .custom_table_progress .RowList{
        display: table-row;
	cursor: pointer;
}

.custom_progress .custom_table_progress .RowList:hover{
    background: #E1E3E4 !important;
}

 .progress_table_results .Cell
    {
        display: table-cell;
        border-width: thin;
        padding-left: 5px;
        padding-right: 5px;
    }
    
    
.custom_progress .progress_table_results .textButton{
    background-color: #007B42;
    border-radius: 5px;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}
.custom_progress #cp_table{
    /*overflow: auto;*/
}
.custom_progress #cp_brigTab{
    overflow: auto;
}
.custom_progress #cp_table{
    /*overflow: auto;*/
	/*jago*/
}
.custom_progress #cp_lineTab{
    overflow: auto;
}
.custom_progress #cp_lineTab2{
    overflow: auto;
}

.custom_progress .blocker{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
.custom_progress .blocker .veil{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: #FFF;
    -moz-opacity:0.50;
    opacity:0.50;
    filter:alpha(opacity=50);
    z-index: 50000;
}
.custom_progress .blocker .loader{
   position: relative;
   width: 100px;
   display: block;
   margin-left: 30%;
   z-index: 50001;
   margin-top: 200px;
   
}
.custom_progress .blocker .loader .label{
   margin-top: 10px;
   font-size: 200%;
   color:  #007B42;
   font-family: SoberanaSans_bold;
}

.progress_tab{
    position: relative;
    display: inline-block;
    top:0px;
    bottom: 0px;
    padding: 10px;
    height: 30px;
    cursor: pointer;
    
}
.progress_tab .leftBorder{
    border-left: 1px solid #8E9091;
}
.progress_tab .section{
    line-height: 20px;
    font-size: 130%;
    color: #66656A;
    padding-left: 15px;
    
    margin-top: 5px;
    
}
.progress_tab:hover .label{
    border-bottom: 3px solid #006BA7;
    
}
.progress_tab_selected .section .label{
    border-bottom: 3px solid #006BA7;
    color:black;
}
.section_tab{
    overflow: auto;
    position: absolute;
    top:0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: #E1E3E4;
}
.section_tab_selected{
    z-index: 1000;
}
.report_print{
    position: absolute;
    top: 71px;
    right:0px;
    left:0px;
    bottom: 0px;
    z-index: 2000;
    background: #fff;
}
.section_print{
    width:100%;
    margin-top: 50px;
}
.report_graph{
    width:800px;
    height:800px;
}
.section_progress_header_table{
    /*position: relative;*/
    top: 0x;
    z-index: 1;
   top: 5px;
left: 5px;
right: 5px;
}
.template_progress{ background:url("img/progress.png") top left no-repeat; }
.tpg_print:hover{ width:30px; height:30px; background-position:-10px -10px; }
.tpg_print{ width:30px; height:30px; background-position:-10px -50px; }
.tpg_csv:hover{ width:25px; height:30px; background-position:-10px -90px; }
.tpg_csv{ width:25px; height:30px; background-position:-10px -130px; }
.tpg_pdf:hover{ width:25px; height:30px; background-position:-10px -170px; }
.tpg_pdf{ width:25px; height:30px; background-position:-10px -210px; }

.custom_progress .headerTable{
    display:table;width:100%;
}
.custom_progress .borderTable{
    border-bottom:1px solid #bbb;
}
.custom_progress .borderLeftTable{
    border-left:1px solid #bbb;
}
.custom_progress .RowTable{
        display: table-row;width:100%;
}
.custom_progress .CellTable{
    display: table-cell;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
}
.custom_progress .wt50{
    width: 50%;
}
.custom_progress .wt100{
    width: 100%;
}


.report_print .headerTable{
    display:table;width:100%;
}
.report_print .borderTable{
    border-bottom:1px solid #bbb;
}
.report_print .borderLeftTable{
    border-left:1px solid #bbb;
}
.report_print .RowTable{
        display: table-row;width:100%;
}
.report_print .CellTable{
    display: table-cell;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
}
.report_print .wt50{
    width: 50%;
}
.report_print .wt100{
    width: 100%;
}

.custom_progress .custom_table_progress .Cell{
        display: table-cell;
        border-width: thin;
        
}
.custom_progress .custom_table_progress .Row{
        display: table-row;
	cursor: pointer;
}

.custom_progress .custom_table_progress .Row:hover{
    background: #E1E3E4 !important;
}

.custom_progress .custom_table_progress{
        display: table;
	width:100%;
        margin-top: 3px;
}
.custom_progress .custom_table_progress .rowFilled{
	background: #F4F4F4;
}
.custom_progress .custom_table_progress .row_selected{
	background: #F4F4F4;
}
.custom_progress .custom_table_progress .borderHeading{
	border-top: 1px solid #222;
	border-bottom: 1px solid #222;
}
.custom_progress .custom_table_progress .borderRow{
	    border-bottom: 1px solid #BBBBBB;
    padding-bottom: 10px !important;
    /* margin-left: 5px; */
    padding-top: 3px;
}
.custom_progress .custom_table_progress .borderRowList{
	    border-bottom: 1px solid #BBBBBB;
    padding-bottom: 10px !important;
    /* margin-left: 5px; */
    padding-top: 8px;
    padding-left: 12px;
}

.custom_table_progress .container_customReport{
    padding: 0px;
    border: none !important;
    overflow-x: hidden;
}

.custom_progress #accordion{
    font-size: 130%;
}
.custom_progress #accordion .icon_input{
    margin-left: 7px;
}
.custom_progress #accordionTables{
    font-size: 130%;
}
.custom_progress #accordionTables .icon_input{
    margin-left: 7px;
}
.custom_progress .filterContainer{
    position: relative;
    width: 100%;
}
.custom_progress .filterContainer .input{
    width: 100%;
    position: relative;
    padding: 7px;
    font-size: 110%;
    background: #F4F3F3;
    border-bottom: 1px solid #BBBBBB;
    border-left: none;
    color: #636770;
}
.custom_progress .filterContainer .icon{
        position: absolute;
    top: 6px;
    right: 5px;
}
.custom_progress .filterContainer .iconClose{
     position: absolute;
    top: 6px;
    right: 30px;
    display: none;
}


.custom_progress .filterContainerTables{
    position: relative;
    width: 100%;
}
.custom_progress .filterContainerTables .input{
    width: 100%;
    position: relative;
    padding: 7px;
    font-size: 110%;
    background: #F4F3F3;
    border-bottom: 1px solid #BBBBBB;
    border-left: none;
    color: #636770;
}
.custom_progress .filterContainerTables .icon{
        position: absolute;
    top: 6px;
    right: 5px;
}
.custom_progress .filterContainerTables .iconClose{
     position: absolute;
    top: 6px;
    right: 30px;
    display: none;
}
.custom_progress #accordion .deleteItems{
        position: absolute;
    right: 6px;
    top: 4px;
    display: none;
}
.custom_progress #accordion .selectedList{
    background: #F3F0F0;
}
.custom_progress #accordion .selectorZones{
    position: relative;
    width: 100%;
    height: 25px;
}
.custom_progress #accordion .ontainer_customReport{
    overflow-x: hidden !important;
    overflow-y: auto !important;
}


.custom_progress #accordionTables .deleteItems{
        position: absolute;
    right: 6px;
    top: 4px;
    display: none;
}
.custom_progress #accordionTables .selectedList{
    background: #F3F0F0;
}
.custom_progress #accordionTables .selectorZonesTables{
    position: relative;
    width: 100%;
    height: 25px;
}
.custom_progress #accordionTables .ontainer_customReport{
    overflow-x: hidden !important;
    overflow-y: auto !important;
}
.custom_progress #colum_cp_fields .applyGraph .label{
    font-size: 140%;
   
    margin-top: 7px;
    color: #057932;
}
.custom_progress #colum_cp_fields .applyGraph .icon{
   position: absolute;
    /* float: right; */
    right: 5px;
    top: 0px;
}
.custom_progress #colum_cp_fields .applyGraph{
    text-align: center;
}



.custom_progress #colum_cp_fieldsTables .applyGraphTables .label{
    font-size: 140%;
   
    margin-top: 7px;
    color: #057932;
}
.custom_progress #colum_cp_fieldsTables .applyGraphTables .icon{
   position: absolute;
    /* float: right; */
    right: 5px;
    top: 0px;
}
.custom_progress #colum_cp_fieldsTables .applyGraphTables{
    text-align: center;
}
.custom_progress #cp_customTabularTables{
    /*overflow: auto;*/
	/*jago*/
}
.custom_progress #cp_customTabular{
    overflow: auto;
}
.custom_progress #colum_cp_brigGraph .Dates .initial{
    position: relative;
    float: left;
}

.custom_progress #colum_cp_brigGraph .Dates .initial .label{
        display: inline-block;
    position: relative;
    font-weight: bold;
}
.custom_progress #colum_cp_brigGraph .Dates .initial .initialDate{
    margin-left: 5px;
    /* background: #B0B3B8; */
    /* color: #fff; */
    /* font-weight: bold; */
    border: 1px solid #CCCCCC;
    padding: 3px;
    display: inline-block;
    cursor: pointer;
    width: 70px;
}
.custom_progress .Tac{
    text-align:center;
}
.custom_progress #colum_cp_brigGraph .Dates .final .label{
        display: inline-block;
    position: relative;
    padding-left: 20px;
    font-weight: bold;
}
.custom_progress #colum_cp_brigGraph .Dates .final .lastDate{
    margin-left: 5px;
    /* background: #B0B3B8; */
    /* color: #fff; */
    /* font-weight: bold; */
    border: 1px solid #CCCCCC;
    padding: 3px;
    display: inline-block;
    cursor: pointer;
    width: 70px;
}
.custom_progress #colum_cp_brigGraph .Dates .datepicker{
    display: none;
}
.custom_progress #colum_cp_brigGraph .Dates{
        font-size: 140%;
    margin-top: 4px;
    color: #616771 !important;
}
.ui-datepicker-calendar{
    background: #fff !important;
    border: 1px solid #D1D1D1 !important;
}