@import url('template.css');
.custom_assignCharge{
    position: absolute;
    top:0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
.custom_assignCharge .blocker{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
.custom_assignCharge .blocker .veil{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: #FFF;
    -moz-opacity:0.50;
    opacity:0.50;
    filter:alpha(opacity=50);
    z-index: 50000;
}
.custom_assignCharge .blocker .loader{
   position: relative;
   width: 100px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   z-index: 50001;
   margin-top: 50%;
}
.custom_assignCharge .blocker .loader .label{
   margin-top: 10px;
   font-size: 200%;
   color:  #00264B;
   font-family: SoberanaSans_bold;
}
.custom_assignCharge .item_user{
    position: relative;
    border-bottom: 2px solid #555555;
    height: 47px;
    width: 300px;
    left: 0px;
    background: #00264B;
    color:#fff;
}
.custom_assignCharge .item_user{
    background: #00264B !important;
}

.custom_assignCharge .item_user .user_alias{
    font-size: 130%;
    position: absolute;
    left: 30px;
    top: 5px;
}

.custom_assignCharge .item_user .user_role{
    font-size: 110%;
    position: absolute;
    left: 30px;
    top: 26px;
    color: white;
}

.custom_assignCharge .item_user .user_charge{
    position:absolute;right:5px;border:1px solid black;top:7px;
    -webkit-border-radius: 20px 20px 20px 20px;border-radius: 20px 20px 20px 20px;padding:3px;font-size:120%;
}

.custom_assignCharge .item_user .user_progress{
    position: absolute;
    left: 20px;
    height: 3px;
    right: 5px;
    bottom: 5px;
}

.custom_assignCharge .item_user .user_back{
    position:absolute;left:2px;top:10px;
}

.custom_assignCharge .data_filter{
    position: absolute;top:49px;
    width:100%;
    height: 150px;
    background: #F4F4F4;
}
.custom_assignCharge .data_blocks{
    position: absolute;
    top:165px;
    bottom: 50px;
    left:0px;
    right: 0px;
}

.custom_assignCharge .data_blocks .options{
    position: absolute;
    top: 0px;
    height: 45px;
    left: 0px;
    right: 0px;
    background: #F4F4F4;
    box-shadow: 1px 2px 10px 1px #555555;
}

.custom_assignCharge .data_blocks .options .option_selected_assign{
    background: #E1E3E4 !important;
}
.custom_assignCharge .data_blocks .options .label{
    position: absolute;
    /* top: 20px; */
    width: 100%;
    line-height: 35px;
}
.custom_assignCharge .data_blocks .options .total{
    position: absolute;
    /* top: 20px; */
    width: 100%;
    line-height: 60px;
}
.custom_assignCharge .data_blocks .options #dataAssigned{
    position: relative;
    width:99px;
    height: 100%;
    text-align: center;
    border-right: 1px solid #BBBBBB;
    border-bottom: 1px solid #BBBBBB;
    float: left;
}
.custom_assignCharge .data_blocks .options #dataSelected{
    position: relative;
    width:99px;
    height: 100%;
    text-align: center;
    border-right: 1px solid #BBBBBB;
    border-bottom:1px solid #BBBBBB;
    float: left;
}
.custom_assignCharge .data_blocks .options #dataNotAssigned{
    position: relative;
    width:99px;
    height: 100%;
    text-align: center;
    float: left;
    border-bottom:1px solid #BBBBBB;
}
.custom_assignCharge .data_blocks .list_data{
    position: absolute;
    top: 46px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: auto;
}

.custom_assignCharge .data_blocks .list_data .rows{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow: auto;
}
.custom_assignCharge .section_tools{
   position: absolute;
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: #E1E3E4;
    border-top: 1px solid #BBBBBB;
}

.custom_assignCharge .section_tools .assignTools{
   position: absolute;
    top: 5px;
    left: 11px;
    height: 37px;
    width: 50px;
    background: #BBBBBB;
    border: 1px solid #555;
}

.custom_assignCharge .section_tools .assignTools .otherOptions{
    position: absolute;
    width: 37px;
    right: -1px;
    /* height: 200px; */
    background: #fff;
    top: -74px;
    border: 1px solid #555;
}

.custom_assignCharge .section_tools .assignTools .otherOptions .itemTool{
    padding: 2px;
}
.custom_assignCharge .section_tools .assignTools .otherOptions .itemTool:hover{
    background: #F4F4F4 !important;
}

.assignTools .selector{
    left:0px;width:13px;height:100%;background:#BBBBBB;position: absolute;float: left;
}
.assignTools .tool_selected{
    left:13px;right:0px;height:100%;background:#fff;float: left;position: absolute;
}
.assignTools .tool_selected_active{
    
}
.custom_assignCharge .section_tools .assingButton{
    position: absolute;
    top: 5px;
    right: 9px;
    /* height: 20px; */
    /* width: 20px; */
}
.custom_assignCharge .section_tools .cancelButton{
    position: absolute;
    top: 5px;
    right: 120px;
    /* height: 20px; */
    /* width: 20px; */
}
.custom_assignCharge .section_tools .cancelButton button.disabled{
    background-color: #BBBBBB !important;
    color: #E1E3E4 !important;
}
.custom_assignCharge .button{
   
    background-color: #00264B;
    border-radius: 5px;
    padding: 7px;
    /* -webkit-transform-origin: 50% 50%; */
    -ms-transform-origin: 50% 50%;
    /* transform-origin: 50% 50%; */
    width: 100px;
    color: white;
    font-size: 120%;

}
.assign_table_results{
      display: table;
  width: 100%;
  margin-top: 3px;
}

.assign_table_results .rowBorderTop{
    border-bottom:1px solid #BBBBBB;
}
.assign_table_results .rowFilled{
	background: #F4F4F4;
}
.assign_table_results .row_selected{
	background: #F4F4F4;
}
.assign_table_results .borderHeading{
	border-top: 1px solid #222;
	border-bottom: 1px solid #222;
}
.assign_table_results .borderRow{
	border-left: 1px solid #bbb;
}

    
.assign_table_results .Heading{
        display: table-row;
	font-weight: bold;
	text-align: center;
	font-size: 130%;
	background: #00264B;
	color: white;
}
    
.assign_table_results .Row{
        display: table-row;
	font-size: 120%;
}

.assign_table_results .Row:hover{
    background: #E1E3E4 !important;
}
.assign_table_results .Cell{
        display: table-cell;
        border-width: thin;
        padding: 5px;
}


.assign_table_results .text_center{
    text-align: center;
}
.assign_table_results .w110{
    width: 110px;
}   
.assign_table_results .textButton{
    background-color: #00264B;
    border-radius: 5px;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

.assign_table_results .optionDelete{
    position: relative;
    top: 2px;
    float: right;
    right: 0px;
    display: inline;
}

.assign_table_results .optionDeleteAssigned{
    position: relative;
    top: 2px;
    float: right;
    right: 0px;
    display: inline;
}

.assign_table_results .rowHidden{
    display:none;
}
.addOption{
    display: inline-block;
    position: relative;
    float: left;
    top: 0px;
}
.rowFilledError{
   background: #F4F4F4;
}
.rowError{
    padding:5px;
}


.custom_assignCharge .textInput{
    outline: 0;
    padding: 12px;
    width: 100%;
    border: 2px solid #00264B;
    border-radius: 2px;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width:100%;
    margin-top: 3px;
    /*display: block;*/
    color:#222;
}


.custom_assignCharge .icon_search{
	position: absolute;
top: 5px;
right: -26px;
background: #eee;
width: 41px;
height: 39px;
cursor: pointer;
}

.custom_assignCharge .boxToSearchFilter{
	position: absolute;
	left: 5px;
	right: 32px;
	top: 0px;
}


.custom_assignCharge .boxToSearchFilter .icon{
	position:absolute;top:5px;left: 5px;
}


.custom_assignCharge .filter_results .table_filter{
      display: table;
  width: 100%;
  margin-top: 0px;
}


/*************/
.filter_results .table_filter .Row{
        display: table-row;
	font-size: 120%;
	color: #005D95;
font-weight: bold;
}
.filter_results .table_filter .rowBorderTop{
    border-bottom:1px solid #BBBBBB;
}
.filter_results .table_filter .Row:hover{
    background: #E1E3E4 !important;
}
.filter_results .table_filter .Cell{
        display: table-cell;
        border-width: thin;
        padding: 5px;
}
.filter_results .table_filter .optionRemoveFilter{
    position: relative;
    top: 2px;
    float: right;
    right: 0px;
    display: inline;
}

.custom_assignCharge .filter_results{
    position: absolute;
  top: 56px;
  left: 0px;
  right: 0px;
  height: 56px;
  overflow: auto;
}

.custom_assignCharge .Field {
  position: relative;
  border: 1px solid #F9F6EE;
  margin-left: 5px;
 
}
.custom_assignCharge .Field .label {
  color: #222;
  float: left;
  position: relative;
  top: 5px;
  font-size: 120%;
  left: 4px;
}
.custom_assignCharge .Field .textInput {
  outline: 0;
  padding: 6px;
  width: 100%;
  border: 1px solid #555;
  border-radius: 2px;
  background-color: #fff;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  margin-top: 22px;
  display: block;
  font-size: 130%;
  color: #222;
}
.custom_assignCharge .Field .selectInput {
  outline: 0;
    padding: 5px;
    width: 100%;
    border: 1px solid #555;
    border-radius: 2px;
    background-color: #fff;
    background-image: none;
    width:100%;
    margin-top: 22px;
    display: block;
    font-size: 130%;
    color:#222;
}
.custom_assignCharge .itemField{
    width:42%;
    display: inline-block;
}
.custom_assignCharge #btnAddFilter{
     background: #E1E3E4;
  position: absolute;
  top: 23px;
  right: 11px;
  height: 26px;
  width: 28px;
  border-top: 1px solid #555;
  border-right: 1px solid #555;
  border-bottom: 1px solid #555;
}

.custom_assignCharge .clearFilter{
    position: absolute;
    bottom: 5px;
    left: 5px;
    /* height: 20px; */
    /* width: 20px; */
}
.custom_assignCharge  .applyFilter{
    position: absolute;
    bottom: 5px;
    right: 5px;
    /* height: 20px; */
    /* width: 20px; */
}